{% extends "base.html" %}

{% block app_content %}
<div id="questionnaire">
    <div id="general-info">
        <ul class="list-unstyled">
            <li id="name">
                <strong>{{ _('Name') }}:</strong> {{ data['questionnaire'] }}
            </li>
            <li id="type">
                <strong>{{ _('Type') }}:</strong> {{ data['type'] }}
            </li>
            <li id="description">
                <strong>{{ _('Description') }}:</strong> {{ data['description'] }}
            </li>
            <li id="scales">
                <strong>{{ _('Scales') }}:</strong> {{ data['scales']|length }}
            </li>
        </ul>
    </div>
    <div id="scales" class="container">
        {% for scale in data['scales'] %}
        <div class="row">
            <hr>
            <h3>{{ _('Scale') }} {{ scale['scale'].scale }}: {{ scale['scale'].name }}</h3>
            <ul class="list-unstyled">
                <li id="scale-score">
                    <strong>{{ _('Scale score') }}:</strong> {{ scale['score'] }}
                </li>
                <li id="scale-description">
                    <strong>{{ _('Description') }}:</strong> {{ scale['scale'].description }}
                </li>
                <li id="scale-date">
                    <strong>{{ _('Date') }}:</strong> {{ scale['date'] }}
                </li>
            </ul>
            <table id=questions-table" class="table table-striped">
                <tr id="header-row">
                    <th>{{ _('Question') }}</th>
                    <th>{{ _('Result') }}</th>
                    <th>{{ _('Reversed') }}</th>
                </tr>
                {% for question in scale['questions'] %}
                <tr id="data-row">
                    <td>{{ question['question'] }}</td>
                    <td>{{ question['result'] }}</td>
                    <td>{{ question['reversed'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}