{% extends "base.html" %}

{% block app_content %}
    <h3>User Settings</h3>
    <ul>
        <li><a href="{{ url_for('admin.import_users') }}">Import Users</a></li>
        <li><a href="{{ url_for('admin.users_overview') }}">Users Overview</a></li>
    </ul>
    <h3>Module Settings</h3>
    <ul>
        <li><a href="{{ url_for('admin.import_modules') }}">Import Modules</a></li>
        <li><a href="{{ url_for('admin.modules_overview') }}">Module Overview</a></li>
    </ul>
    <h3>Results Settings</h3>
    <ul>
        <li><a href="{{ url_for('admin.import_results') }}">Import Results</a></li>
    </ul>
{% endblock %}
