{% extends "base.html" %}

{% block app_content %}
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.file() }}
        {% for error in form.file.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
<p>{{ _('Import expects JSON files in the following format:') }}</p>
<script src="https://gist.github.com/eddyvdaker/{{ example_gist_code }}.js"></script>
{% endblock %}
