{% extends "base.html" %}

{% block app_content %}
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.file() }}
            {% for error in form.file.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

    {% if 'Users' in title %}
        <p>Import expects JSON files in the following format:</p>
        <script src="https://gist.github.com/eddyvdaker/f73e48eea2c3672dec92adc2dd2627ef.js"></script>
    {% endif %}
    {% if 'Modules' in title %}
        <p>Import expects JSON files in the following format:</p>
        <script src="https://gist.github.com/eddyvdaker/3c1848ce491d9061fec9ae18ae5069e0.js"></script>
    {% endif %}
{% endblock %}
