{% extends "base.html" %}

{% block app_content %}
<a href="{{ url_for('admin.add_module') }}"><button type="button" class="btn btn-dark">Add Modules</button></a><br><br>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start</th>
        <th>End</th>
        <th>Faculty</th>
        <th></th>
    </tr>

{% for module in modules %}
    <tr>
        <td>{{ module.id }}</td>
        <td>{{ module.code }}</td>
        <td>{{ module.name }}</td>
        <td>{{ module.description }}</td>
        <td>{{ module.start }}</td>
        <td>{{ module.end }}</td>
        <td>{{ module.faculty }}</td>
        <td><a href="{{ url_for('admin.edit_module', module_id=module.id) }}">Edit</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}