{% extends "base.html" %}

{% block app_content %}
<div id="user">
    <ul>
        <li><strong>{{ _('Username') }}:</strong> {{ user.username }}</li>
        <li><strong>{{ _('Email') }}:</strong> {{ user.email }}</li>
        <li><strong>{{ _('User Role') }}:</strong> {{ user.role.role }}</li>
        <li><strong>{{ _('User Card number') }}:</strong> {{ user.card_number }}</li>
        <li><a href="{{ url_for('admin.edit_user', user_id=user.id) }}">{{ _('Edit User') }}</a></li>
    </ul>

    {% if user.groups_of_student() %}
        <div id="groups-of-student">
            <br>
            <hr>
            <h3>{{ _('Groups of student') }}</h3>
            <table id="groups" class="table table-striped">
                <tr id="header-row">
                    <th>id</th>
                    <th>{{ _('Code') }}</th>
                    <th>{{ _('Active') }}</th>
                    <th>{{ _('Modules') }}</th>
                    <th></th>
                </tr>
                {% for group in groups %}
                    <tr id="row">
                        <td>{{ group.id }}</td>
                        <td>{{ group.code }}</td>
                        <td>{{ group.active }}</td>
                        <td>{{ group.modules_list }}</td>
                        <td><a href="{{ url_for('admin.single_group', group_id=group.id) }}">{{ _('Details') }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if user.get_modules_of_student() %}
    <div id="modules-as-student">
        <br>
        <hr>
        <h3>{{ _('Modules as Student') }}</h3>
        <table id="modules" class="table table-striped">
            <tr id="header-row">
                <th>{{ _('Code') }}</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th>{{ _('Faculty') }}</th>
            </tr>

            {% for module in user.get_modules_of_student() %}
                <tr id="row">
                    <td>{{ module.code }}</td>
                    <td>{{ module.name }}</td>
                    <td>{{ module.description }}</td>
                    <td>{{ module.start }}</td>
                    <td>{{ module.end }}</td>
                    <td>{{ module.faculty }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if user.get_modules_of_teacher() %}
    <div id="modules-as-teacher">
        <br>
        <hr>
        <h3>{{ _('Modules as Teacher') }}</h3>
        <table id="modules" class="table table-striped">
            <tr id="header-row">
                <th>{{ _('Code') }}</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th>{{ _('Faculty') }}</th>
            </tr>
            {% for module in user.get_modules_of_teacher() %}
                <tr id="row">
                    <td>{{ module.code }}</td>
                    <td>{{ module.name }}</td>
                    <td>{{ module.description }}</td>
                    <td>{{ module.start }}</td>
                    <td>{{ module.end }}</td>
                    <td>{{ module.faculty }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if user.get_modules_of_examiner() %}
    <div id="modules-as-examiner">
        <br>
        <hr>
        <h3>{{ _('Modules as Examiner') }}</h3>
        <table id="modules" class="table table-striped">
            <tr id="header-row">
                <th>{{ _('Code') }}</th>
                <th>{{ _('Name') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th>{{ _('Faculty') }}</th>
            </tr>
            {% for module in user.get_modules_of_examiner() %}
                <tr id="row">
                    <td>{{ module.code }}</td>
                    <td>{{ module.name }}</td>
                    <td>{{ module.description }}</td>
                    <td>{{ module.start }}</td>
                    <td>{{ module.end }}</td>
                    <td>{{ module.faculty }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}