{% extends "base.html" %}

{% block app_content %}
<div id="schedule">
    <div id="general-info">
        <ul class="list-unstyled">
            <li><strong>{{ _('Description') }}:</strong> {{ schedule.description }}</li>
            <li><strong>{{ _('Module') }}:</strong> {{ module.name }} ({{ module.code }})</li>
            <li><strong>{{ _('Group') }}:</strong> {{ group.code }}</li>
            <li><a href="{{ url_for('admin.edit_schedule', schedule_id=schedule.id) }}">{{ _('Edit schedule') }}</a></li>
        </ul>
    </div>
    <div id="schedule-items">
        <h3>{{ _('Schedule Items') }}</h3>
        <a id="add-button" href="{{ url_for('admin.add_schedule_item', schedule_id=schedule.id) }}"><button type="button" class="btn btn-dark">{{ _('Add Schedule Item') }}</button></a><br><br>
        <table id="items" class="table table-striped">
            <tr id="header-row">
                <th>{{ _('Item') }}</th>
                <th>{{ _('Description') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th>{{ _('Room') }}</th>
                <th></th>
            </tr>
            {% if schedule.items.all() %}
                {% for item in schedule.items.all() %}
                    <tr id="row">
                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.start }}</td>
                        <td>{{ item.end }}</td>
                        <td>{{ item.room }}</td>
                        <td><a href="{{ url_for('admin.edit_schedule_item', schedule_id=schedule.id, item_id=item.id) }}">{{ _('Edit') }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}