{% extends "base.html" %}

{% block app_content %}
<a href="{{ url_for('admin.add_user') }}"><button type="button" class="btn btn-dark">Add User</button></a><br><br>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Card Number</th>
        <th></th>
    </tr>
{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.role }}</td>
        <td>{{ user.card_number }}</td>
        <td><a href="{{ url_for('admin.edit_user', user_id=user.id) }}">Edit</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}