<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - LA4LD</title>
    {% else %}
        <title>LA4LD</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">LA4LD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            {% if not current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.profile') }}">{{ _('Profile') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('results.results') }}">{{ _('Results') }}</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('schedule.schedule') }}">{{ _('Schedule') }}</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('attendance.attendance') }}">{{ _('Attendance') }}</a>
                </li>
                {% if current_user.role.role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.admin') }}">{{ _('Admin') }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <h1>{{ title }}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                    <li id="message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>